USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NGANHANG.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_A954A1A5E318407F9AC1EA4BBBF1E257]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE ROLE [MSmerge_A954A1A5E318407F9AC1EA4BBBF1E257]
GO
/****** Object:  DatabaseRole [MSmerge_7B3083C5605449E0A6677B35F84DFFBE]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE ROLE [MSmerge_7B3083C5605449E0A6677B35F84DFFBE]
GO
/****** Object:  DatabaseRole [MSmerge_2B00AB1E1C844FF3B4366D7EE0E5F6EE]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE ROLE [MSmerge_2B00AB1E1C844FF3B4366D7EE0E5F6EE]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_A954A1A5E318407F9AC1EA4BBBF1E257]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_7B3083C5605449E0A6677B35F84DFFBE]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2B00AB1E1C844FF3B4366D7EE0E5F6EE]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_8AA46DA3C3594B77B42AAE5687CC1E17]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E70EC556A28448149A9C2341FA87427F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)),
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E3D86EB3D66049659CF08F52430B896A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_6290A6C64B654A61A20DE90F7D89DFEF]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL CONSTRAINT [DF_NhanVien_PHAI]  DEFAULT (N'Nam'),
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_726D536316D343D1ACEBFC1D2D7DF781]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_NhanVien_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL DEFAULT ((0)),
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F7B6630F31C84E80A831064405A10CAD]  DEFAULT (newsequentialid()),
	[NGAYMOTK] [datetime] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[v_GetSubcribers]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_GetSubcribers]
AS
	SELECT TENCN=PUBS.description, TENSERVER=subscriber_server
	 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
 	WHERE PUBS.pubid = SUBS.pubid 
	AND  publisher <> subscriber_server
	AND subscriber_server <> 'DESKTOP-6RHI5LQ\MSSQLSERVER3'


GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_421576540]    Script Date: 4/15/2024 9:43:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_421576540] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_9A59F731_AAE6_42EE_907C_48B65868F446] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_9A59F731_AAE6_42EE_907C_48B65868F446]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4DE490FD_9774_4528_A4A3_ECE59D3A3898] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_4DE490FD_9774_4528_A4A3_ECE59D3A3898]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoDichChuyenTien]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaoDichChuyenTien]
	@SOTK_NHAN NCHAR(9), @SOTK_CHUYEN NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK_CHUYEN)
		BEGIN
			UPDATE dbo.TaiKhoan
			SET SODU = SODU - @SOTIEN
			WHERE SOTK = @SOTK_CHUYEN
		END
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK_NHAN)
		BEGIN
			UPDATE dbo.TaiKhoan
			SET SODU = SODU + @SOTIEN
			WHERE SOTK = @SOTK_NHAN
		END
	IF EXISTS(SELECT NV.MANV FROM NhanVien NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_CHUYENTIEN(SOTK_CHUYEN,NGAYGD,SOTIEN,SOTK_NHAN,MANV)
				   VALUES(@SOTK_CHUYEN, GETDATE(), @SOTIEN, @SOTK_NHAN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi chuyển tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoDichGoiRut]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaoDichGoiRut]
@TYPE NCHAR(2), @SOTIEN MONEY, @SOTK NCHAR(9), @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF(@TYPE = 'GT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE dbo.TaiKhoan
					SET SODU = SODU + @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF(@TYPE = 'RT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE dbo.TaiKhoan
					SET SODU = SODU - @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF EXISTS(SELECT NV.MANV FROM NhanVien NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_GOIRUT(SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
				   VALUES(@SOTK, @TYPE, GETDATE(), @SOTIEN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi gởi rút tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraCMND]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraCMND] 
@CMND NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT CMND FROM dbo.NhanVien WHERE CMND = @CMND)
		OR EXISTS (SELECT CMND FROM LINK1.NGANHANG.dbo.NhanVien WHERE CMND = @CMND)
		RETURN 1
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraKhachHang]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraKhachHang]
	@CMND NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT CMND FROM dbo.KhachHang WHERE CMND = @CMND)
		OR EXISTS (SELECT CMND FROM LINK0.NGANHANG.dbo.KhachHang WHERE CMND = @CMND)
		RETURN 1
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraNhanVien]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraNhanVien] 
@MaNV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT MANV FROM dbo.NhanVien WHERE MANV = @MaNV)
		OR EXISTS (SELECT MANV FROM LINK1.NGANHANG.dbo.NhanVien WHERE MANV = @MaNV)
		RETURN 1
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraSoTK]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraSoTK]
	@SOTK NCHAR(9)
AS
BEGIN
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
		RETURN 1
	ELSE RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayChiNhanhHienTai]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayChiNhanhHienTai]
AS
BEGIN
    SELECT MACN	FROM dbo.ChiNhanh;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login]
@LoginName NVARCHAR (50)
AS
BEGIN
	DECLARE @uid INT;
	DECLARE @MANV NCHAR(10);
	
	SELECT @uid = uid, @MANV = name FROM sys.sysusers WHERE sid = SUSER_SID(@LoginName);
	 
	SELECT	USERNAME = @MANV, 
			HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @MANV),
			TENNHOM = name
	FROM sys.sysusers 
	WHERE uid = (SELECT groupuid FROM sys.sysmembers WHERE memberuid = @uid)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaoKeTaiKhoan]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaoKeTaiKhoan]
@SOTAIKHOAN NVARCHAR(9), @NGAYBD DATETIME, @NGAYKT DATETIME
AS
DECLARE @SOTIENBANDAU MONEY, @SODU MONEY
DECLARE @tab table(SODUDAU MONEY, NGAYGD DATETIME, LOAIGD NVARCHAR(2), SOTIEN MONEY, SODUSAU MONEY)
DECLARE @SODUDAU MONEY, @NGAYGD DATETIME, @LOAIGD NVARCHAR(2), @SOTIEN MONEY, @SODUSAU MONEY, @TK_NHAN NVARCHAR(9), @TEMP MONEY

SELECT @SODU = SODU FROM TaiKhoan TK WHERE TK.SOTK = @SOTAIKHOAN

SELECT @SOTIENBANDAU = @SODU + SUM(CASE WHEN GD.LOAIGD = 'RT' THEN GD.SOTIEN 
										WHEN GD.LOAIGD = 'GT' THEN -GD.SOTIEN
										WHEN GD.SOTK = @SOTAIKHOAN THEN -GD.SOTIEN 
										ELSE GD.SOTIEN END)
FROM (
        SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  
        FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT  
        WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN

        UNION 

        SELECT NGAYGD, SOTIEN, LOAIGD, SOTK 
        FROM LINK0.NGANHANG.DBO.GD_GOIRUT 
        WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN
    ) GD
WHERE GD.NGAYGD >= @NGAYBD

DECLARE cursorTK CURSOR 
FOR SELECT GD.NGAYGD, GD.LOAIGD, GD.SOTIEN, GD.SOTK
	FROM (

	SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
	UNION 
	SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN
	
	) GD
	
	Where GD.NGAYGD BETWEEN @NGAYBD AND @NGAYKT
	ORDER BY GD.NGAYGD

OPEN cursorTK

FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN

SET @SODUDAU = @SOTIENBANDAU
IF(@LOAIGD = 'RT')
			SET @SODUSAU = @SODUDAU - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE
			SET @SODUSAU = @SODUDAU - @SOTIEN

WHILE @@FETCH_STATUS = 0
BEGIN 
	SET @TEMP = @SODUSAU   
	INSERT INTO @tab(SODUDAU, NGAYGD, LOAIGD, SOTIEN, SODUSAU)
	VALUES (@SODUDAU, @NGAYGD, @LOAIGD, @SOTIEN, @SODUSAU) 


	FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN
	
	SET @SODUDAU = @TEMP
	IF(@LOAIGD = 'RT')
			SET @SODUSAU = @TEMP - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE
			SET @SODUSAU = @TEMP - @SOTIEN
END
SELECT SODUDAU, NGAYGD,(CASE WHEN (LOAIGD = 'CT' AND SODUSAU < SODUDAU) THEN N'CHUYỂN TIỀN' WHEN (LOAIGD = 'CT' AND SODUSAU > SODUDAU) THEN N'NHẬN TIỀN' WHEN LOAIGD = 'GT' THEN N'GỞI TIỀN' ELSE N'RÚT TIỀN' END) AS LOAIGD, SOTIEN, SODUSAU
FROM @tab t
CLOSE cursorTK  
DEALLOCATE cursorTK  

GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeKhachHang]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeKhachHang]
AS
BEGIN
    SELECT kh.CMND, CONCAT(kh.HO, ' ', kh.TEN) AS HOTEN, kh.DIACHI, kh.PHAI, kh.NGAYCAP, kh.SODT, cn.TENCN
    FROM dbo.KhachHang kh
    JOIN LINK0.NGANHANG.dbo.ChiNhanh cn ON cn.MACN = kh.MACN
    ORDER BY cn.TENCN, HOTEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeMoTaiKhoanChiNhanh]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeMoTaiKhoanChiNhanh]
(@dateFrom AS DATE, @dateTo AS DATE,@maCN NCHAR(10))
AS
BEGIN
	SELECT tk.SOTK, CONCAT(kh.HO, ' ', kh.TEN) AS HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK
	FROM dbo.TaiKhoan tk
	JOIN LINK0.NGANHANG.dbo.KhachHang kh ON kh.CMND = tk.CMND
	WHERE tk.NGAYMOTK BETWEEN @dateFrom AND @dateTo
		AND tk.MACN = @maCN
	ORDER BY tk.NGAYMOTK ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeMoTaiKhoanTatCaChiNhanh]    Script Date: 4/15/2024 9:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeMoTaiKhoanTatCaChiNhanh]
(@dateFrom AS DATE, @dateTo AS DATE)
AS
BEGIN
	SELECT tk.SOTK, CONCAT(kh.HO, ' ', kh.TEN) AS HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK, cn.TENCN
	FROM dbo.TaiKhoan tk
	JOIN LINK0.NGANHANG.dbo.KhachHang kh ON kh.CMND = tk.CMND
	JOIN LINK0.NGANHANG.dbo.ChiNhanh cn ON cn.MACN = tk.MACN
	WHERE tk.NGAYMOTK BETWEEN @dateFrom AND @dateTo
	ORDER BY cn.TENCN ASC, tk.NGAYMOTK ASC
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
USE [master]
GO
